################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DiDemo/bin
/DiDemo/obj
/.vs
/Generator/bin
/Generator/obj
/Primitives/bin
/Primitives/obj
/Benchmarks/bin/Debug/net6.0
/Benchmarks/obj
/Benchmarks/bin/Release/net6.0
